<ion-view view-title="Settings">
    <ion-content>
      <div class="grey-header">
        <h2 class="grey-heading-title">My Profile</h2>
      </div>
        <div class="w-form" style="padding-left: 5px; padding-right: 5px">
            <form id="profile-form" name="email-form" action="#">
                <div class="w-form-done">
                    <p style="color: green;">Thank you! Your info has been saved!</p>
                </div>
                <div class="w-form-fail">
                    <p style="color: red;">Oops! Something went wrong while submitting the form</p>
                </div>

                <div class="separator-button-input"></div>
                <div>
                    <label class="label-form">EMAIL</label>
                    <input class="w-input input-form" type="email" readonly="readonly" value="{{user.email}}">
                    <div class="separator-fields"></div>
                </div>
                <div>
                    <label class="label-form">FIRST NAME</label>
                    <input class="w-input input-form" type="text" id="ebFirstName" value="{{user.firstName}}">
                    <div class="separator-fields"></div>
                </div>
                <div>
                    <label class="label-form">LAST NAME</label>
                    <input class="w-input input-form" type="text" id="ebLastName" value="{{user.lastName}}">
                    <div class="separator-fields"></div>
                </div>
                <div>
                    <label class="label-form">COUNTRY</label>
                    <select class="w-input input-form" id="sltCountries"></select>
                    <div class="separator-fields"></div>
                </div>
                <div>
                    <label class="label-form">CITY</label>
                    <input class="w-input input-form" type="text" id="ebCity" value="{{user.city}}">
                    <div class="separator-fields"></div>
                </div>
                <div>
                    <label class="label-form">ADDRESS</label>
                    <input class="w-input input-form" type="text" id="ebAddress" value="{{user.address}}">
                    <div class="separator-fields"></div>
                </div>
                <button class="w-button action-button" type="button" data-wait="Please wait..." ng-click="save();">Save</button>


            </form>
        </div>
    </ion-content>
</ion-view>
